.dreamjournal-container {
    display: flex;
    justify-content: space-between;
    background-color: black; 
    padding: 4rem;
    justify-content: center; 
    max-height: 100vh; 
    max-width: 100%;
  }

.tags-dreamjournal {
    color: #001233;
    display: inline;
    list-style: none;
}

ul.nav {
    background: linear-gradient(90deg, #0466C8, #0353A4);
    box-shadow: 1px 1px 2rem #001845(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    border-radius: 50px;
  }

  ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
  }

  ul.nav > li:hover {
    background-color: #2779BF;
  }
  
  ul.nav > li > a {
    color: white;
    text-decoration: none;
  }

  .delete-button {
    width: 100%;
  }

  @import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.blog_post {
  background: #979DAC;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem #0466C8(0, 0, 0, 0.3);
  position: relative;
}


.container_copy {
  padding: 2rem 4rem 5rem 4rem;
}

.img_pod {
  height: 110px;
  width: 110px;
  background: linear-gradient(90deg, #0466C8, #023E7D);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal {
  height: 8.3rem;
  width: 8.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem #001845(0, 0, 0, 0.3);
  z-index: 1;
}

h3 {
  margin: 2rem 0 2rem 0;
  color: #333;
  font-size: 1.25rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
  text-align: left;
}

p {
  margin: 0 0 4.5rem 0;
  font-size: 1.5rem;
  line-height: 1.45;
  color: #333;
}

.btn_primary {
  border: none;
  outline: none;
  position: absolute;
  right: 10%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #873c3c, #790002);
  padding: 1.5rem 2rem;
  margin: 0rem 0rem 0rem 0rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem #001845(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem #6c7d5c(255, 94, 98, 0.5);
}

@media only screen and (max-width: 650px) {
  body {
    background-color: black;
  }

  .img_pod {

  }
}