

.homepage-container {
    display: flex;
    background-color: black; 
    color: #979DAC; 
    padding: 20px; 

   
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  

  
.gif-container {
flex: 2; 
}

.text-homepage{
    padding-left: 1rem;
    font-family: cursive, sans-serif;
    font-weight: normal; 
<<<<<<< HEAD
    font-size: 1.1em;
=======
    font-size: 1.2em;
>>>>>>> 668a96883209e6cdd817c23cd4c225838eda3ec7
    text-align: center;
}

.title-homepage {
    text-align: center;
}

  

  
  