.homepage-container {
    display: flex;
    background-color: black; 
    color: #979DAC; 
    padding: 20px; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
 
.homepage-image {
    max-width: fit-content;
}

.homepage-p{
    padding-left: 1rem;
    font-family: cursive, sans-serif;
    font-weight: normal; 
    font-size: 1.5em;
    color: #979DAC; 
    text-align: center;
}

.title-homepage {
    text-align: center;
    color: #979DAC; 
    padding-bottom: 35px;
}